/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

/* General */
html,
body {
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    scroll-behavior: smooth;
}

#page_container {
    padding: 1rem;
}

/* Homepage */
.home {
}

.home > h1 {
    font-size: 2rem;
    margin: 0;
    text-align: center;
}

.home > h1 > span,
.details > h1 > span {
    color: red;
}

.home > h1 > span:nth-of-type(2),
.details > h1 > span:nth-of-type(2) {
    font-size: 4rem;
}

.home > h1 > span:nth-of-type(3),
.details > h1 > span:nth-of-type(3) {
    writing-mode: horizontal-tb;
    display: inline-block;
    transform: rotate(-90deg);
    line-height: 60%;
}

.home > .onderwerpen {
    overflow-x: visible;
}

.home > .onderwerpen > h2 {
    font-size: 1rem;
    margin-bottom: 0;
    color: grey;
    font-weight: 500;
}

.home > .onderwerpen > div {
    overflow-x: scroll;
}

.home > .onderwerpen > div > ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0.25rem 0 0 0;
    overflow-x: visible;
    z-index: 1;
}

.home > .onderwerpen > div > ul > li {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    background-color: rgba(0, 100, 200, 0.35);
    border-radius: 5px;
    margin-right: 0.5rem;
    cursor: pointer;
    border: 2px solid rgba(0, 100, 200, 0.75);
}

.home > .onderwerpen > div > ul > li > a {
    font-size: 1.25rem;
    text-decoration: none;
    color: black;
}

.home > .content > .topic-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.home > .content > .topic-container > button {
    width: 80%;
    margin: auto;
    padding: 0.5rem;
    border-radius: 5px;
    border: none;
    background-color: rgb(0, 100, 200);
    color: white;
    font-size: 1rem;
    font-weight: bold;
    margin-top: 0.5rem;
}

.home > .content > .topic-container > button:hover {
    background-color: rgba(0, 100, 200, 0.9);
}

.home > .content > .topic-container > h2 {
    text-decoration: underline;
    text-decoration-color: rgb(0, 100, 200);
}

.home > .content > .topic-container > .topic {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.home > .content > .topic-container > .topic > article {
    border-radius: 5px;
    width: 25%;
    margin: 0.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0.3rem;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
}

.home > .content > .topic-container > .topic > article > img {
    width: 4rem;
    height: auto;
}

.home > .content > .topic-container > .topic > article > h3 {
    font-size: 0.75rem;
    font-weight: 500;
    display: block;
    width: 100px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
}

/* Details */
.details {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.details > .details-content > section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.details > .details-content > section > img {
    width: auto;
    height: 8rem;
}

.details > .details-content > section > h2 {
    margin-bottom: 0;
}

.details > .details-content > section > p {
    margin-top: 0.5rem;
}

.details > .details-content > section > p:first-of-type {
    color: gray;
    font-size: 0.75rem;
}

.details > .details-content > section > section {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

.details > .details-content > section > section > h2 {
    font-size: 1.25rem;
    text-decoration: underline;
    text-decoration-color: rgb(0, 100, 200);
}

.details > .details-content > section > section > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.details > .details-content > section > section > div > article {
    height: 8rem;
    width: 30%;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    border-radius: 5px;
}

.back-button {
    position: absolute;
    font-size: 2rem;
    text-decoration: none;
    color: red;
    left: 0;
}
